.continaer{
    display: grid;
    /*grid-template-columns: 100px 100px 100px 100px;*/
    grid-template-columns: repeat(2, 100px);
    background-color: brown;
    justify-content: space-evenly;
    grid-gap: 2px;
}
.item{
    border: 1px solid brown;
    background-color: blue;
}