.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.food{
    border: 2px solid aqua;
    padding: 10px;
    border-radius: 5px 10px 5px 10px;
}

@media screen and (max-width:576px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
}
